<%= form_with(model: candidacy, local: true) do |form| %>
  <% if candidacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidacy.errors.count, "error") %> prohibited this candidacy from being saved:</h2>

      <ul>
      <% candidacy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cre %>
    <%= form.number_field(:cre, class:'form-control') %>
  </div>

  <div class="field mt-5">
    <%= form.label :nota %>
    <%= form.number_field(:nota, class:'form-control') %>
  </div>

  <div class="field mt-5">
    <%= form.label :Disciplina %>
    <%= collection_select(:candidacy, :subject_id, @subjects, :id, :nome, {}, {:class=>'form-control'}) %>
  </div>

  <% if current_user.isAdmin %>
    <div class="field mt-5">
      <%= form.check_box :status %>
      <%= form.label :Aprovar %>
    </div>
  <% end %>

  <div class="actions mt-5 text-center">
    <% if current_user.isAdmin %>
      <%= form.submit("Atualizar", class:'btn btn-primary') %>
    <% else %>
      <%= form.submit("Candidatar-se", class:'btn btn-primary') %>
    <% end %>
  </div>
<% end %>
