<table class="table table-striped container mt-5">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Aluno</th>
      <th>Disciplina</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @candidacies.each do |candidacy| %>
      <tr>
        <th><%= candidacy.user.matricula %></td>
        <td><%= candidacy.user.nome %></td>
        <td><%= candidacy.subject.nome %></td>
        <% if candidacy.status %>
          <td>Candidatura <strong>APROVADA</strong><br>pelo Coordenador</td>
        <% else %>
          <td>Candidatura <strong>AINDA NÃO</strong><br>aprovada pelo Coordenador</td>
        <% end %>
        <% if current_user %>
          <% if current_user.isAdmin %>
            <td><%= link_to 'Editar', edit_candidacy_path(candidacy) %></td>
          <% else %>
            <td></td>
          <% end %>
          <% else %>
            <td></td>
        <% end %>
        <!-- AQUI SERÁ ONDE O COORDENADOR VAI MARCAR OS STATUS COMO APROVADO OU NAO -->
        <!-- <td><%= link_to 'Destroy', candidacy, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
