<p id="notice"><%= notice %></p>

<h1>Candidacies</h1>

<table>
  <thead>
    <tr>
      <th>Cre</th>
      <th>Nota</th>
      <th>Status</th>
      <th>Resultado</th>
      <th>Data</th>
      <th>User</th>
      <th>Notice</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidacies.each do |candidacy| %>
      <tr>
        <td><%= candidacy.cre %></td>
        <td><%= candidacy.nota %></td>
        <td><%= candidacy.status %></td>
        <td><%= candidacy.resultado %></td>
        <td><%= candidacy.data %></td>
        <td><%= candidacy.user.nome %></td>
        <td><%= candidacy.notice.semestre %></td>
        <td><%= candidacy.subject.nome %></td>
        <td><%= link_to 'Show', candidacy %></td>
        <td><%= link_to 'Edit', edit_candidacy_path(candidacy) %></td>
        <td><%= link_to 'Destroy', candidacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidacy', new_candidacy_path %>
