<p id="notice"><%= notice %></p>

<h1>Candidacies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Nota</th>
      <th>CRE</th>
      <th>Disciplina</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @candidacies.each do |candidacy| %>
      <tr>
        <td><%= candidacy.user.email %></td>
        <td><%= candidacy.nota %></td>
        <td><%= candidacy.cre %></td>
        <td><%= candidacy.subject.nome %></td>
        <td><%= candidacy.status %></td>
        <!-- AQUI SERÃ ONDE O COORDENADOR VAI MARCAR OS STATUS COMO APROVADO OU NAO -->
        <!-- <td><%= link_to 'Destroy', candidacy, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidacy', new_candidacy_path %>
