<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sigla</th>
        <th>Periodo</th>
        <th>Professor</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.nome %></td>
          <td><%= subject.sigla %></td>
          <td><%= subject.periodo %></td>
          <td><%= subject.teacher.nome %></td>
          <td><%= link_to 'Editar', edit_subject_path(subject) %></td>
          <td><%= link_to 'Apagar', subject, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Adicionar Disciplina', new_subject_path %>
