<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.nome %></td>
          <td><%= teacher.email %></td>
          <td><%= link_to 'Editar', edit_teacher_path(teacher) %></td>
          <td><%= link_to 'Apagar', teacher, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Adicionar Professor', new_teacher_path %>
